*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.nav_link{
    flex: 1;
    text-align: right;
}

.nav_link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav_link ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav_link ul li:hover{
   text-decoration: underline 2px solid #f44336;
   transition: 1s;
}

.text-box{
    width: 90%;
    color:#fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    

}
.text-box h1:hover{
    font-size: 70px;
    transition-duration: 0.5s;
}



.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}
.hero-btn{
    display: inline-block;

    text-decoration:none ;
    color: #fff;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 100px;
}
.hero-btn:hover{
    border:1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
}
nav .material-icons{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav_link ul li{
       display: block;

    }
    .nav_link{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .material-icons{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav_link ul{
        padding: 30px;
    }
}
.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 38px;
    font-weight: 600;
}
p{
    color:#484848;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    line-height: 22px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course_col{
    display: block;
    flex-basis: 31%;
    background-image: linear-gradient(to bottom right, #f44336, #b52f25);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.course_col ul li{
    color:white;
    list-style: none;
    font-size: 18px;
    padding: 5px 2px;
    align-items: center;
    justify-content: center;
}
.course_col h3{
    color: #fff;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course_col:hover{
    border-radius: 25%;
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.2);
    transition: 0.2s;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    
    .alliance_col img{
        
        margin-left: 0px;
        max-width: 100%;
    }
    
    .award_content1{
        display: flex;
        flex-direction: column;
    }
    .award_content2{
        display: flex;
        flex-direction: column;
    }
    .award_box{
        width: 100%;
    }
    .industry img{
        max-width: 100%;
    }
    }


.alliance{
    width:80%;
    margin: auto;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    color: white;
    
        min-height: 50vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image.webp);
        background-position: center;
        background-size: cover;
        position: relative;
}
.know_more{
    display: inline-block;
    text-decoration:none ;
    background: #000000;
    color: #fff;
    
    margin-top: 2px;
    margin-bottom: 4px;
    padding: 12px 34px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    width: 100px;
}
.know_more:hover{
    background-color: rgb(255, 240, 240);
    color: #000000;
    
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
}
.alliance_col img{
    align-self: center;
   
    margin-top: -40px;
    width: 100%;
}
#alliance_content{
    color:azure;
    font-size: 17px;
    font-weight: 10;
    padding: 10px;
    line-height: 22px;
}

.research{
    width:100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(ok.jpeg);
    background-position: center;
    background-size: cover;


    
}
.research_col
{
    display: inline-flex;
    flex-basis: 30%;
    padding:20px 100px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}
.research_col img{
    width: 100%;
   display: block;
}
.layer{
    background: transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
   
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.award_title h1:hover{
    padding: 2px;
    box-shadow: 0px 0px 26px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s;
    border-radius: 20px;
}
.award_content1{
    
    display: flex;
   
   
}
.award_content2{
    margin-top: 20px;
    display: flex;
    
}

.award_box{
    color:white;
    font-weight: 300;
    width:350px;
    height : 200px;
    
    text-align: center;
    align-self: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top:10px ;
    padding-bottom: 10px;
}
.award_box:hover{
    
    transition: 0.2s;
    border-radius: 20px;
    background-color: #000000;
    box-shadow: #a6a6a6;
}
.award_box img{
    margin-top: 20px;
     
}
.award_content{
    margin-bottom: 40px;
 background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Gateway-Edited_v1.jpg);
 background-position: center;
    background-size: cover;
}
.industry{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}
.industry .know_more:hover{
    background-color: #a6a6a6;
}
